.DS_Store
/.build
/Packages
xcuserdata/
DerivedData/
Benchmarks/results/benchmark-config.json
.swiftpm/configuration/registries.json
.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata
.netrc
